%header.ui.fixed.inverted.menu
  .ui.container
    .header.item{:href => "#"}
      %img.logo{:src => "assets/images/logo.png"}/
      Project Name
    %a.item{:href => "#"} Home
    %a.ui.simple.dropdown.item{:href => "#"}
      Dropdown
      %i.dropdown.icon
      .menu
        .item Link Item
        .item Link Item
        .divider
        .header Header Item
        .item
          %i.dropdown.icon
          Sub Menu
          .menu
            .item Link Item
            .item Link Item
        .item Link Item
